---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/img/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>D&G Software - Inicio</title>
		<link href="../styles/global.css" rel="stylesheet" />
		
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
	}
</style>
